body {
    font-family: Aptos, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(145deg, #3cbcdb, #60efe8);
    /* 3D gradient */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.1);
    /* 3D shadow */
    text-align: left;
    color: white;
}

h1 {
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* Text shadow for 3D effect */
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    /* Text shadow for 3D effect */
}

input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1), inset -3px -3px 5px rgba(255, 255, 255, 0.1);
    /* Inner shadow for 3D effect */
}

.button-group {
    grid-column: span 2;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

button {
    width: calc(100% - 10px);
    padding: 10px;
    background: linear-gradient(145deg, #3cbed8, #60efe8);
    /* 3D gradient */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(255, 255, 255, 0.1);
    /* 3D shadow */
    transition: transform 0.3s ease;
}

button:hover {
    background: linear-gradient(145deg, #60efe8, #3cbed8);
    /* Gradient reverse for hover effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.2);
    /* Stronger shadow on hover */
    transform: translateY(-3px);
    /* Lift button on hover */
}

#paymentAmount,
#totalInterest {
    background-color: #e0f7fa;
    /* Light blue background */
    border: none;
    color: #00695c;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1), inset -3px -3px 5px rgba(255, 255, 255, 0.1);
    /* Inner shadow for 3D effect */
}
